<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024821932211-s6n2shh5kbngia3im0b07sb3ll6aoebi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024821932211-s6n2shh5kbngia3im0b07sb3ll6aoebi</string>
	<key>API_KEY</key>
	<string>AIzaSyBGHQtmWFUusvfzeKRD-sH2MQJI0K-ncmY</string>
	<key>GCM_SENDER_ID</key>
	<string>1024821932211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>home.notTwitter</string>
	<key>PROJECT_ID</key>
	<string>nottwit-41d18</string>
	<key>STORAGE_BUCKET</key>
	<string>nottwit-41d18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024821932211:ios:1bf1f08d27c9e26135c0c6</string>
</dict>
</plist>